<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951131963362-g95s5s15ba3mkgae30i7kaqnn0ugdr47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951131963362-g95s5s15ba3mkgae30i7kaqnn0ugdr47</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>951131963362-olmln6kavl0ltuq3ifdm3qa1j1r7lieb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_iEv6lsL3cndI_V0ER4TrndQjMpAJBl0</string>
	<key>GCM_SENDER_ID</key>
	<string>951131963362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appointerbyasps.appoiter</string>
	<key>PROJECT_ID</key>
	<string>appointer-project</string>
	<key>STORAGE_BUCKET</key>
	<string>appointer-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951131963362:ios:56b858d9ae5f71441dc3bb</string>
</dict>
</plist>